.App {
  text-align: center;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('./assets/fonts/RobotoSlab.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: #000d33;
opacity: 1;
background-image:
  linear-gradient(#001a66 1px, transparent 1px),
  linear-gradient(to right, #001a66 1px, #000d33 1px);
background-size: 50px 50px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
